
$white-transparent: rgba(255,255,255,.8);
$black-transparent: rgba(0,0,0,.8);
$black-underline: rgba(0,0,0,.4);

$text-primary: #333;

$primary: rgba(255, 206, 0, 1);
$primary-dark: rgba(219, 176, 0, 1);
$primary-darker: rgba(197, 158, 0, 1);

$danger: rgba(216, 39, 45, 1);
