
$text-color: $black;

html,
body {
  font-family: sans-serif;
  color: $text-color;
  // min-width: 356px;
  min-width: 600px;
}

.container {
  position: relative;
  display: block;
  margin-left: 16px;
  margin-right: 16px;
}
