
$productslist-background: $gray-light;
$productslist-product-background: $white;

$productslist-product-thumb-border: $white;
$productslist-product-thumb-border-active: red;
$productslist-product-thumb-border-hover: gray;

.bscp-products {
	background-color: $productslist-background;
	padding: 16px 0;

	&-list {
		display: block;
		width: 100%;
		&-itens {
			background-color: $productslist-product-background;
			position: relative;
			border-radius: 4px;
			margin-bottom: 16px;
			padding: 4px 8px;
    	box-sizing: border-box;
		}
		&-gallery {
	    display: inline-block;
			&-thumbnails {
				display: inline-block;
				vertical-align: top;
				margin: 6px 0 0 0;
				&-itens {
					border: 2px $productslist-product-thumb-border solid;
					width: 40px;
					height: 40px;
					margin-bottom: 4px;
    			border-radius: 4px;
					text-align: center;
					cursor: pointer;
					&.active {
						border-color: $productslist-product-thumb-border-active;
					}
					img {
						display: block;
						vertical-align: middle;
						text-align: center;
						width: 36px;
						margin: 2px;
						display: block;
						border-radius: 4px;
					}
					&:hover {
						border-color: $productslist-product-thumb-border-hover;
					}
				}
			}
			&-enlarge {
				display: inline-block;
				vertical-align: top;
				height: 200px;
				width: 200px;
				img {
					display: block;
					width: 100%;
					box-sizing: border-box;
					padding: 16px;
				}
			}
		}
	}

	&-description {
		position: absolute;
		top: 0;
		left: 264px;;
	}

}

// .cart-list {
// 	background-color: orange;
// 	padding: 8px;
// }

// .cart-list li {
// 	background-color: darkorange;
// 	margin: 8px;
// 	border-radius: 8px;
// }

// .price-tag {
// 	color: white;
// 	position:relative;
//  margin:0 5px 0 10px;
// 	display:inline-block;
//  height:66px;
//  padding: 0 35px 0 20px;
//  font-size: 25px;
// 	line-height: 65px;
//  cursor: pointer;
//  font-weight: 100;
//  margin: 20px 25px;
//  background: darkblue;
// }

// .price-tag:after {
// 	position:absolute;
// 	content:"";
// 	right:-18px;
// 	width: 1px;
// 	height:0px;
// 	border-left:18px solid darkblue;
// 	border-top:  33px solid transparent;
// 	border-bottom: 33px solid transparent;
// }

// .gallery {
// 	display: inline-block;
// 	vertical-align: top;
// }

// .item-description {
// 	display: inline-block;
// 	vertical-align: top;
// }
