
$shoppingtotal-background: $primary-dark;
$shoppingtotal-label-underline: $black-underline;

.bscp-cart-total {
  background-color: $shoppingtotal-background;
  padding: 16px 4px;
  font-weight: 600;
  &-empty {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
  &-full {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    label {
      border-bottom: 1px solid $shoppingtotal-label-underline;
      margin-top: 4px;
      margin-bottom: 8px;
      display: block;
    }
    p {
      line-height: 14px;
      margin-bottom: 4px;
    }
  }
}
