<!DOCTYPE html>
<html ng-app="addToCart">
	<head>
		<meta charset="utf-8">
		<title>Exercício Buscapé Company</title>
		<link rel="stylesheet" href="resources/font-awesome-4.7.0/css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body ng-controller="addToCartCtrl">

		<header class="bscp-header">
			<section class="bscp-menu-wrap">
				<div class="container">
					<figure class="bscp-logo">
						<img alt="logo buscapé" src="images/buscape.png">
					</figure>
					<div class="bscp-menu-icon" ng-click="showCart=!showCart">
						<i class="fa fa-bars bscp-menu-icon-hamburgerIcon" aria-hidden="true"></i>
						<i ng-show="cartItems.length>0" class="bscp-menu-icon-cartAmonut">{{cartItems.length}}</i>
					</div>
				</div>
			</section>

			<ul class="bscp-cart-list" ng-show="showCart">
				<li ng-repeat="cartItem in cartItems">
					<div class="container">
						<button class="bscp-cart-list-close" ng-click="removeFromCart(cartItem, cartItems)">
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<div class="bscp-cart-product">
							<figure class="bscp-cart-product-img">
								<img src="{{cartItem.product.images[0]}}" alt="">
							</figure>
							<figcaption class="bscp-cart-product-description">
								<strong class="bscp-cart-product-description-title">
									{{cartItem.product.name}}
								</strong>
								<span class="bscp-cart-product-description-price">
									<p>{{cartItem.product.price.installments}}x R$ {{cartItem.product.price.installmentValue}}</p>
									<p>ou R$ {{cartItem.product.price.value}} à vista</p>
								</span>
							</figcaption>
						</div>
					</div>
				</li>
			</ul>

			<footer class="bscp-cart-total" ng-show="showCart">
				<section ng-show="cartItems.length==0" class="container bscp-cart-total-empty">
					<p>Não há itens no seu carrinho. :(</p>
					<p>Compre algo!</p>
				</section>
				<section ng-show="cartItems.length>0" class="container bscp-cart-total-full">
					<label>subtotal</label>
					<p>12x R$ 999,99</p>
					<p>ou R$ 9.999,99 à vista</p>
				</section>
			</footer>
		</header>

		<main class="products-list">
			<ul>
				<li ng-repeat="item in items">
					<section>
						<article class="gallery">
							<div class="thumbnails">
								<ul>
									<li ng-repeat="image in item.product.images">
										<img ng-click="switchEnlarged(image, item)" src="{{image}}">
									</li>
								</ul>
							</div>
							<div class="enlarge">
								<img src="{{item.product.enlargedImage}}" alt="">
							</div>
						</article>
						<aside class="item-description">
							<h3>{{item.product.name}}</h3>
							<div class="price-tag">Melhor preço</div>
							<p>{{item.product.price.installments}}x R$ {{item.product.price.installmentValue}}</p>
							<p>ou <strong>R$ {{item.product.price.value}}</strong> à vista</p>
							<a href="">
								<button ng-click="addToCart(item, cartItems)">Adicionar ao carrinho</button>
							</a>
						</aside>
					</section>
				</li>
			</ul>
		</main>
		<script src="resources/angular-1.6.6/angular.js"></script>
		<script src="scripts/addToCart.js"></script>
		<script src="scripts/addToCartCtrl.js"></script>
	</body>
</html>
